/* Fresh Fruit */
@font-face {
    font-family: "Fresh Fruit";
    src: url("../font/Fresh\ Fruit.otf")
}

/* Feira da Fruta */
@font-face {
    font-family: "Feira-da-Fruta";
    src: url("../font/Feira\ da\ Fruta.ttf");
}